.blog-post-heading {
    font-size: 1rem;
    color: var(--textTitle);
    margin: 0;
    padding: 0;
}
.post-container {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.date-post{
    color: var(--textSecondary);
    text-transform: lowercase;
}
.heading {
    color: var(--textLink);
}
.tag-post {
    color: var(--textSecondary);
    text-transform: lowercase;
    font-size: 0.7rem;
    border-radius: 15px;
    border: 1px solid var(--textSecondary);
    padding: 3px 10px;
}