.heading {
    color: var(--textLink);
}
.nav-links {
    display: flex;
    margin: 0;
    font-size: 0.9rem;
    gap: 2rem
}
.nav-link-text-active{
    text-decoration: underline !important;
}
.site-title {
    color: var(--textTitle);
    font-size: 1.8rem;
}
.headerContainer {
    margin: 3rem 0;
}
.headerContainer img {
    filter: grayscale(1);
}
.headerContainer:hover img {
    filter: grayscale(0);
    transition: 0.3s all ease;
}
.theme-toggler{
    color: var(--textSecondary);
}