ul {
    list-style: none;
}
.tagList{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
}

.itemProject{
    border: 1px var(--textSecondary) dotted;
    border-radius: 10px;
    padding: 20px;
}
.projectDetails {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.itemTitle{
    flex: 1 1 70%;
}
.itemImage {
    flex: 1 1 30%;
}
.caption {
    width: 100%;
    text-align: left;
}
.tag-post {
    color: var(--textSecondary);
    text-transform: lowercase;
    font-size: 0.7rem;
    border-radius: 15px;
    border: 1px solid var(--textSecondary);
    padding: 3px 10px;
}

@media only screen and (max-width: 765px) {
    .itemTitle{
        flex: 1 1 100%;
    }
    .itemImage {
        flex: 1 1 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .itemImage img{
        border-radius: 8px;
    }
    .tagList{
        justify-content: center;
    }
}