@import "./typography.css";

body {
  --bg: var(--light);
  --textPrimary: var(--dark);
  --textSecondary: var(--secondary);
  --textTitle: var(--dark);
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 0%, 0.2);

  --green: #069f5f;
  --yellow: #d79921;
  --orange: #f6661e;
  --red: #da103f;
  --pink: #ee64ae;
  --purple: #8700af;
  --blue: #315eee;
  --cyan: #189db8;


  --dark: #2E3440;
  --light: #FDF6E3;
  --secondary: #968c83;

  background-color: var(--bg);
  color: var(--textPrimary);
  font-family: "Mononoki", monospace;
  text-rendering: geometricPrecision;

  transition: 0.2s all ease;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: var(--dark);
  --textPrimary: var(--light);
  --textTitle: var(--light);
  --hr: hsla(0, 0%, 100%, 0.2);

  --green: #06c993;
  --yellow: #e6c000;
  --orange: #f69154;
  --red: #f60055;
  --pink: #ec89cb;
  --purple: #9e6ffe;
  --blue: #2a84d2;
  --cyan: #34e2e2;

}

.bold-italic{
    font-family: "Mononoki Bold Italic", monospace;
}
.bold {
    font-family: "Mononoki Bold", monospace;
}
.italic {
    font-family: "Mononoki Italic", monospace;
}
.pd-0 {
    padding:0;
}
.mg-0{
    margin: 0;
}
.g-5 {
    gap:5px;
}
.g-10{
    gap:10px;
}
.g-15{
    gap: 15px;
}
.g-20{
    gap: 20px;
}
.no-decoration a{
    text-decoration: none;
}
.no-decoration li{
    list-style: none;
}
a:hover{
    text-decoration: underline;
}
a {
    color: var(--textLink);
}
.underline {
    text-decoration: underline !important;
}
.presentacion a{
    color: var(--textPrimary) !important;
}