@font-face {
  font-family: "Mononoki";
  src: url("../fonts/mononoki-Regular.woff2");
}
@font-face {
  font-family: "Mononoki Italic";
  src: url("../fonts/mononoki-Italic.woff2");
}
@font-face {
  font-family: "Mononoki Bold";
  src: url("../fonts/mononoki-Bold.woff2");
}

@font-face {
  font-family: "Mononoki Bold Italic";
  src: url("../fonts/mononoki-BoldItalic.woff2");
}
